<div class="row" style="height: 80vh;">
    <div class="col-lg-4 col-md-4 col-12">
        <div class="mb-3" style="border: 2px dashed blueviolet; padding: 5px; text-align: center;">
            <div style="font-size: 90px; line-height: 120px; padding: 10px; background-color: rgb(177, 203, 242);">
                <a href="/hafiza-oyunu" class="game-button">HAFIZA OYUNU</a>
            </div>
        </div>
        <div style="border: 2px dashed blueviolet; padding: 5px; text-align: center;">
            <div style="font-size: 90px; line-height: 120px; padding: 10px; background-color: rgb(177, 203, 242);">
                <a href="" class="game-button">BİLGİ YARIŞMASI</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        <div class="mb-3" style="height: 100%; border: 2px dashed blueviolet; padding: 5px; text-align: center;">
            <div style="font-size: 24px; font-weight: bold; padding: 10px; background-color: rgb(177, 203, 242);">
                PUAN DURUMLARI
            </div>

            <nav class="mt-2">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">HAFIZA OYUNU</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">BİLGİ YARIŞMASI</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div style="padding-left: 15px; padding-right: 15px;">
                        <div class="row mb-1" style="background-color: #1b5656; color: aliceblue;">
                            <div class="col-2" style="font-size: 40px;">
                                #1
                            </div>
                            <div class="col-8" style="font-size: 40px;">
                                huseyinerbayat
                            </div>
                            <div class="col-2" style="font-size: 40px;">
                                100
                            </div>
                        </div>
                        <div class="row mb-1" style="background-color: #1b5656; color: aliceblue;">
                            <div class="col-2" style="font-size: 40px;">
                                #2
                            </div>
                            <div class="col-8" style="font-size: 40px;">
                                gooddayss
                            </div>
                            <div class="col-2" style="font-size: 40px;">
                                90
                            </div>
                        </div>
                        <div class="row mb-1" style="background-color: #1b5656; color: aliceblue;">
                            <div class="col-2" style="font-size: 40px;">
                                #3
                            </div>
                            <div class="col-8" style="font-size: 40px;">
                                helloworld
                            </div>
                            <div class="col-2" style="font-size: 40px;">
                                80
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">2...</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        <div class="mb-3" style="border: 2px dashed blueviolet; padding: 5px; text-align: center;">
            <div style="font-size: 90px; line-height: 120px; padding: 10px; background-color: rgb(177, 203, 242);">
                <a href="" class="game-button">KELİME TAMAMLAMA</a>
            </div>
        </div>
        <div style="border: 2px dashed blueviolet; padding: 5px; text-align: center;">
            <div style="font-size: 90px; line-height: 120px; padding: 10px; background-color: rgb(177, 203, 242);">
                <a href="" class="game-button">SES <br> TANIMA</a>
            </div>
        </div>
    </div>
</div>