<h1><%= title %></h1>
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero nam, ex aspernatur, incidunt praesentium maxime nulla quibusdam numquam labore rerum voluptas dolorem harum id repudiandae! Eius dignissimos quisquam voluptates nobis.
</p>